  
 
 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap')
 ;
   
   html, body {
     margin: 0;
     padding: 0;
    }
 
     .otsikko {
         
         background-image: url("kansi.jpg");
         background-position: center;
         background-size: cover;
         opacity: 0.8;
         margin: 0px;
         
     }
 
     .otsikko h1 {
         font-family: "Protest Riot", sans-serif;
         font-weight: 200;
         font-size: 50px;
         text-align: right;
         color: #FFFF;
         padding: 30px 40px 30px 80px;
         margin: 0px;
     
     }
 
     .otsikko h2 {
         font-family: "Fira Sans", sans-serif;
         font-size: 20px;
         text-align: right;
         color: black;
         padding: 10px 40px 40px 80px;
     }
 
     img {
         max-width: 90%;
         height: auto;
         padding: 20px;
         
     }
 
     .teksti {
     font-family: "Fira Sans", sans-serif;
     font-size: 18px;
     line-height: 20px;
     padding: 15px;
     margin: 10px;
     width: 90%;
     
   }
   
   .pohja {
     font-family: "Fira Sans", sans-serif;
     background-color: aquamarine;
     background-size: cover;
     background-position: center;
     padding: 0px;
     margin-top: 20px;
     float: left;
     width: 100%;
     
   }
   .pohja p {
     font-family: "Fira Sans", sans-serif;
     font-size: 15px;
     text-align: right;
     margin: 0px;
     padding: 10px;
   }
 
   .freia  {
     max-width: 100%;
     
     text-align: center;
     
 
   }
   .freia p {
     font-family: "Fira Sans", sans-serif;
     font-size: 18px;
     padding: 10px;
     margin: auto;
     width: 90%;
     max-width: 400px;
   }
 .fili {
     max-width: 100%;
     text-align: center;
     vertical-align: top;
     display: inline-block;
     
 }
 
 .fili p {
   font-family: "Fira Sans", sans-serif;
     font-size: 18px;
     padding: 10px;
     margin: auto;
     max-width: 400px;
     text-align: center;
 }
 .fili h2 p {
     display: block;
 }
 .image {
     opacity: 1;
     display: block;
     width: 90%;
     height: auto;
     transition: .5s ease;
     backface-visibility: hidden;
     padding: 20px;
   }
 
   
   .image:hover  {
     opacity: 0.3;
   }
 .piilotettu {
  opacity: 0;
 }
 .image:hover .piilotettu {
  opacity: 1;
 }
 

 .lomake {
  padding: 20px;
 }
 .video{
  padding: 20px;
 }

 
 
   @media only screen and (min-width: 900px) {
    .otsikko h1 {
      font-size: 80px;
    }
     .otsikko h2 {
        font-size: 25px;
        padding: 50px 40px 40px 80px;
     }
   }

   @media only screen and (min-width: 1500px) {
    .freia {
      float: left ;
     
  }

    
  }